In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 40

# 1.选取多个DataFrame列

In [2]:
#用列表选取多个列
movie = pd.read_csv('data/movie.csv')
movie_actor_director = movie[['actor_1_name','actor_2_name','actor_3_name','director_name']]
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [4]:
#错误选取多列的方式
movie['actor_1_name','actor_2_name','actor_3_name',"director_name"]

KeyError: ('actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name')

In [5]:
#选取单列
movie[['director_name']].head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [7]:
#将列表赋值给一个变量，便于多选
cols = ['actor_1_name','actor_2_name','actor_3_name',"director_name"]
movie_actor_director = movie[cols]
movie_actor_director

,actor_1_name,actor_2_name,actor_3_name,director_name
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
4,Doug Walker,Rob Walker,NaN,Doug Walker
5,Daryl Sabara,Samantha Morton,Polly Walker,Andrew Stanton
6,J.K. Simmons,James Franco,Kirsten Dunst,Sam Raimi
7,Brad Garrett,Donna Murphy,M.C. Gainey,Nathan Greno
8,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Joss Whedon
9,Alan Rickman,Daniel Radcliffe,Rupert Grint,David Yates
10,Henry Cavill,Lauren Cohan,Alan D. Purwin,Zack Snyder
11,Kevin Spacey,Marlon Brando,Frank Langella,Bryan Singer
12,Giancarlo Giannini,Mathieu Amalric,Rory Kinnear,Marc Forster
13,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
14,Johnny Depp,Ruth Wilson,Tom Wilkinson,Gore Verbinski
15,Henry Cavill,Christopher Meloni,Harry Lennix,Zack Snyder
16,Peter Dinklage,Pierfrancesco Favino,Damián Alcázar,Andrew Adamson
17,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Joss Whedon
18,Johnny Depp,Sam Claflin,Stephen Graham,Rob Marshall
19,Will Smith,Michael Stuhlbarg,Nicole Scherzinger,Barry Sonnenfeld
20,Aidan Turner,Adam Brown,James Nesbitt,Peter Jackson
21,Emma Stone,Andrew Garfield,Chris Zylka,Marc Webb
22,Mark Addy,William Hurt,Scott Grimes,Ridley Scott
23,Aidan Turner,Adam Brown,James Nesbitt,Peter Jackson
24,Christopher Lee,Eva Green,Kristin Scott Thomas,Chris Weitz
25,Naomi Watts,Thomas Kretschmann,Evan Parke,Peter Jackson
26,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,James Cameron
27,Robert Downey Jr.,Scarlett Johansson,Chris Evans,Anthony Russo
28,Liam Neeson,Alexander Skarsgård,Tadanobu Asano,Peter Berg
29,Bryce Dallas Howard,Judy Greer,Omar Sy,Colin Trevorrow
...,...,...,...,...
4886,Franky G,Panchito Gómez,Casper Martinez,Eric Eason
4887,Matt Frewer,Katharine Isabelle,Michael Paré,Uwe Boll
4888,Tommy Pallotta,Richard Linklater,Jean Caffeine,Richard Linklater
4889,Tjasa Ferme,Mikaal Bates,Damon Owlia,Joseph Mazzella
4890,Kristen Seavey,Suzi Lorraine,Travis Legge,Travis Legge
4891,Shannen Fields,Lisa Arnold,Janet Lee Dapper,Alex Kendrick
4892,Ashley Tramonte,Brittany Curran,Lindsay MacDonald,Marcus Nispel
4893,Robbie Barnes,Alana Kaniewski,Brandon Landers,Brandon Landers
4894,Mark Duplass,Katie Aselton,Bari Hyman,Jay Duplass
4895,Paul Ogola,Olwenya Maina,Mugambi Nthiga,Jim Chuchu
4896,Zoe Lister-Jones,Heather Burns,Ebon Moss-Bachrach,Daryl Wein
4897,Sean Whalen,Jason Trost,Nick Principe,Jason Trost
4898,Divine,Mink Stole,Edith Massey,John Waters
4899,Maggie Cheung,Béatrice Dalle,Don McKellar,Olivier Assayas
4900,Fereshteh Sadre Orafaiy,Nargess Mamizadeh,Mojgan Faramarzi,Jafar Panahi
4901,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,Ivan Kavanagh
4902,Kôji Yakusho,Anna Nakagawa,Denden,Kiyoshi Kurosawa
4903,Tatiana Suarez-Pico,Michael Cortez,Eric Ambriz,Tadeo Garcia
4904,Julianna Pitt,Joe Coffey,John Lucas,Thomas L. Phillips
4905,Peter Greene,Stanley B. Herman,James Noble,Ash Baron-Cohen
4906,Shane Carruth,David Sullivan,Casey Gooden,Shane Carruth
4907,Ian Gamazon,Edgar Tancangco,Quynn Ton,Neill Dela Llana
4908,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Robert Rodriguez
4909,Richard Jewell,John Considine,Sara Stepnicka,Anthony Vallone
4910,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Edward Burns
4911,Eric Mabius,Daphne Zuniga,Crystal Lowe,Scott Smith
4912,Natalie Zea,Valorie Curry,Sam Underwood,NaN
4913,Eva Boehnke,Maxwell Moody,David Chandler,Benjamin Roberds
4914,Alan Ruck,Daniel Henney,Eliza Coupe,Daniel Hsia
4915,John August,Brian Herzlinger,Jon Gunn,Jon Gunn

In [8]:
#使用select_dtypes(),选取整数列
movie.select_dtypes(include=['int']).head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [9]:
#选取所有的数值列
movie.select_dtypes(include=['number']).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,NaN,131.0,NaN,131.0,NaN,8,143,0.0,NaN,NaN,NaN,12.0,7.1,NaN,0

In [10]:
#通过filter()函数过滤选取多列
movie.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.0,855.0,1000.0,4834,936.0,33000
1,563.0,1000.0,40000.0,48350,5000.0,0
2,0.0,161.0,11000.0,11700,393.0,85000
3,22000.0,23000.0,27000.0,106759,23000.0,164000
4,131.0,NaN,131.0,143,12.0,0

In [11]:
#通过正则表达式选取多列
movie.filter(regex='\d').head()

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [12]:
#filter()函数，传递列表到参数items，选取多列
movie.filter(items=['actor_1_name','asdf']).head()

      actor_1_name
0      CCH Pounder
1      Johnny Depp
2  Christoph Waltz
3        Tom Hardy
4      Doug Walker

# 2.对列名进行排序